Repository LawnchairLauncher/lawnchair, pull requests merged in 2022-11, with the labels that each got.

#3071 Bump material-motion-compose-core to 0.10.3
  build.gradle
  lawnchair/src/app/lawnchair/ui/preferences/Preferences.kt
Labels: dependencies

#3067 Icon shape sharing via clipboard
  lawnchair/res/values/strings.xml
  lawnchair/src/app/lawnchair/ui/preferences/CustomIconShapePreference.kt
  lawnchair/src/app/lawnchair/util/ClipboardUtils.kt
Labels: feature

#3089 Sealed more classes & interfaces
  lawnchair/src/app/lawnchair/allapps/SearchResultView.kt
  lawnchair/src/app/lawnchair/font/FontCache.kt
  lawnchair/src/app/lawnchair/font/googlefonts/GoogleFontsListing.kt
  lawnchair/src/app/lawnchair/gestures/GestureController.kt
  lawnchair/src/app/lawnchair/gestures/config/GestureHandlerConfig.kt
  lawnchair/src/app/lawnchair/gestures/config/GestureHandlerOption.kt
  lawnchair/src/app/lawnchair/gestures/handlers/GestureHandler.kt
  lawnchair/src/app/lawnchair/gestures/handlers/OpenAppDrawerGestureHandler.kt
  lawnchair/src/app/lawnchair/gestures/handlers/OpenAppGestureHandler.kt
  lawnchair/src/app/lawnchair/gestures/handlers/OpenNotificationsHandler.kt
  lawnchair/src/app/lawnchair/gestures/handlers/OpenSearchGestureHandler.kt
  lawnchair/src/app/lawnchair/gestures/handlers/SleepGestureHandler.kt
  lawnchair/src/app/lawnchair/icons/IconPack.kt
  lawnchair/src/app/lawnchair/icons/shape/IconCornerShape.kt
  lawnchair/src/app/lawnchair/icons/shape/IconShape.kt
  lawnchair/src/app/lawnchair/overview/TaskOverlayFactoryImpl.kt
  lawnchair/src/app/lawnchair/preferences/BasePreferenceManager.kt
  lawnchair/src/app/lawnchair/preferences/PrefEntry.kt
  lawnchair/src/app/lawnchair/preferences/PreferenceChangeListener.kt
  lawnchair/src/app/lawnchair/preferences2/PreferenceCollectorScope.kt
  lawnchair/src/app/lawnchair/qsb/providers/QsbSearchProvider.kt
  lawnchair/src/app/lawnchair/smartspace/model/SmartspaceCalendar.kt
  lawnchair/src/app/lawnchair/smartspace/model/SmartspaceTimeFormat.kt
  lawnchair/src/app/lawnchair/smartspace/provider/SmartspaceDataSource.kt
  lawnchair/src/app/lawnchair/theme/ThemeProvider.kt
  lawnchair/src/app/lawnchair/theme/color/ColorStateListToken.kt
  lawnchair/src/app/lawnchair/theme/color/ColorToken.kt
  lawnchair/src/app/lawnchair/ui/OverflowMenu.kt
  lawnchair/src/app/lawnchair/ui/preferences/CustomIconShapePreference.kt
  lawnchair/src/app/lawnchair/ui/preferences/PreferenceInteractor.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/colorpreference/ColorPreferenceEntry.kt
  lawnchair/src/app/lawnchair/wallpaper/WallpaperManagerCompat.kt
Labels: housekeeping

#3099 Fix : Themed icons turn off automatically when dark mode changes
  lawnchair/src/app/lawnchair/LawnchairLauncher.kt
  src/com/android/launcher3/model/PackageUpdatedTask.java
Labels: bug

#3094 Minor cleanups
  lawnchair/src/app/lawnchair/FeedBridge.kt
  lawnchair/src/app/lawnchair/allapps/AllAppsSearchInput.kt
  lawnchair/src/app/lawnchair/allapps/SearchResultIconRow.kt
  lawnchair/src/app/lawnchair/backup/ui/RestoreBackupViewModel.kt
  lawnchair/src/app/lawnchair/bugreport/LawnchairBugReporter.kt
  lawnchair/src/app/lawnchair/bugreport/UploaderUtils.kt
  lawnchair/src/app/lawnchair/font/FontCache.kt
  lawnchair/src/app/lawnchair/gestures/handlers/OpenNotificationsHandler.kt
  lawnchair/src/app/lawnchair/icons/CustomIconPack.kt
  lawnchair/src/app/lawnchair/icons/IconPack.kt
  lawnchair/src/app/lawnchair/icons/LawnchairIconProvider.kt
  lawnchair/src/app/lawnchair/preferences/PrefLifecycleObserver.kt
  lawnchair/src/app/lawnchair/qsb/providers/Wikipedia.kt
  lawnchair/src/app/lawnchair/search/LawnchairSearchAlgorithm.kt
  lawnchair/src/app/lawnchair/smartspace/BcSmartspaceCard.kt
  lawnchair/src/app/lawnchair/smartspace/provider/SmartspaceWidgetReader.kt
  lawnchair/src/app/lawnchair/theme/ResourceToken.kt
  lawnchair/src/app/lawnchair/theme/drawable/DrawableToken.kt
  lawnchair/src/app/lawnchair/ui/TouchTarget.kt
  lawnchair/src/app/lawnchair/ui/preferences/AppDrawerPreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/HiddenAppsPreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/IconPickerPreference.kt
  lawnchair/src/app/lawnchair/ui/preferences/PickAppForGesture.kt
  lawnchair/src/app/lawnchair/ui/preferences/SearchProviderPreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/SmartspacePreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/TopBar.kt
  lawnchair/src/app/lawnchair/ui/theme/Color.kt
  lawnchair/src/app/lawnchair/util/Compatibility.kt
  lawnchair/src/app/lawnchair/util/LawnchairUtils.kt
  lawnchair/src/app/lawnchair/util/OptionalUtil.kt
  lawnchair/src/app/lawnchair/util/RepeatOnAttached.kt
  lawnchair/src/app/lawnchair/util/ResourceUtils.kt
  lawnchair/src/app/lawnchair/util/ViewUtils.kt
  lawnchair/src/app/lawnchair/util/appsList.kt
  lawnchair/src/app/lawnchair/util/handlers.kt
  lawnchair/src/com/google/android/libraries/launcherclient/LauncherClientService.java
Labels: housekeeping

#3108 Dock widget provider support
  lawnchair/res/layout/search_container_hotseat_google_search.xml
  lawnchair/res/values/config.xml
  lawnchair/res/values/strings.xml
  lawnchair/src/app/lawnchair/hotseat/HotseatMode.kt
  lawnchair/src/app/lawnchair/preferences2/PreferenceManager2.kt
  lawnchair/src/app/lawnchair/ui/preferences/DockPreferences.kt
  src/com/android/launcher3/DeviceProfile.java
  src/com/android/launcher3/Hotseat.java
Labels: feature

#3124 Add GitHub QSB Provider
  lawnchair/res/values/strings.xml
  lawnchair/src/app/lawnchair/qsb/providers/GitHub.kt
  lawnchair/src/app/lawnchair/qsb/providers/QsbSearchProvider.kt
Labels: feature

#3125 Group app list by sectionName before sorting for Simplified Chinese only
  src/com/android/launcher3/allapps/AppInfoComparator.java
Labels: feature

#3130 Use Java 19 on CI
  .github/workflows/build_debug_apk.yml
  .github/workflows/build_release_apk.yml
  .github/workflows/crowdin_auto_merge.yml
  .github/workflows/release_update.yml
Labels: housekeeping
