Repository LawnchairLauncher/lawnchair, pull requests merged in 2022-09, with the labels that each got.

#2900 Change TopBar.kt to use LargeTopAppBar
  build.gradle
  lawnchair/src/app/lawnchair/ui/preferences/HiddenAppsPreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/PickAppForGesture.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/PreferenceLayout.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/PreferenceScaffold.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/TopBar.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/colorpreference/pickers/CustomColorPicker.kt
Labels: enhancement

#2909 Code cleanups
  lawnchair/res/values-night/themes.xml
  lawnchair/src/app/lawnchair/AccentColorExtractor.java
  lawnchair/src/app/lawnchair/LauncherStateExtensions.kt
  lawnchair/src/app/lawnchair/LawnchairLayoutFactory.kt
  lawnchair/src/app/lawnchair/bugreport/BugReportReceiver.kt
  lawnchair/src/app/lawnchair/icons/CustomIconPack.kt
  lawnchair/src/app/lawnchair/icons/shape/IconCornerShape.kt
  lawnchair/src/app/lawnchair/search/SearchActionCompat.java
  lawnchair/src/app/lawnchair/search/SearchTargetCompat.java
  lawnchair/src/app/lawnchair/smartspace/provider/MediaListener.java
  lawnchair/src/app/lawnchair/theme/color/SystemColorScheme.kt
  lawnchair/src/app/lawnchair/ui/OverflowMenu.kt
  lawnchair/src/app/lawnchair/ui/StretchRecyclerViewContainer.kt
  lawnchair/src/app/lawnchair/ui/preferences/QuickstepPreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/TopBar.kt
  lawnchair/src/app/lawnchair/util/FlowUtils.kt
  lawnchair/src/app/lawnchair/util/LawnchairUtils.kt
  lawnchair/src/app/lawnchair/util/Temperature.kt
Labels: housekeeping

#2913 Speed up build a bit
  build.gradle
  gradle.properties
Labels: housekeeping

#2917 Add requireSystemService to avoid assertions
  lawnchair/src/app/lawnchair/bugreport/BugReportReceiver.kt
  lawnchair/src/app/lawnchair/bugreport/LawnchairBugReporter.kt
  lawnchair/src/app/lawnchair/gestures/handlers/SleepGestureHandler.kt
  lawnchair/src/app/lawnchair/icons/SystemIconPack.kt
  lawnchair/src/app/lawnchair/ui/preferences/IconPickerPreference.kt
  lawnchair/src/app/lawnchair/ui/preferences/SelectIconPreference.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/colorpreference/pickers/CustomColorPicker.kt
  lawnchair/src/app/lawnchair/util/core.kt
  lawnchair/src/app/lawnchair/wallpaper/WallpaperManagerCompat.kt
Labels: housekeeping

#2984 Fix crash when clicking Lens icon
  lawnchair/src/app/lawnchair/qsb/QsbLayout.kt
Labels: bug

#2982 Check `sIsConnected` before canceling notification
  src/com/android/launcher3/notification/NotificationListener.java
Labels: bug
