Repository LawnchairLauncher/lawnchair, pull requests merged in 2022-12, with the labels that each got.

#3152 Cleanup LawnchairApp
  lawnchair/src/app/lawnchair/LawnchairApp.kt
  quickstep/src/com/android/launcher3/uioverrides/touchcontrollers/StatusBarTouchController.java
Labels: housekeeping

#3156 Use bom to manage Compose versions
  build.gradle
Labels: housekeeping

#3158 Warn user about using development builds
  lawnchair/src/app/lawnchair/ui/preferences/PreferencesDashboard.kt
Labels: enhancement

#3206 Bump AGP to 7.4.0-rc02
  build.gradle
Labels: dependencies

#3215 Bump AGP to 7.4.0-rc03
  build.gradle
  settings.gradle
Labels: dependencies

#3217 Bump oss-licenses-plugin to 0.10.6
  build.gradle
Labels: dependencies
