Repository LawnchairLauncher/lawnchair, pull requests merged in 2022-10, with the labels that each got.

#3005 Kotlin 1.7.20
  build.gradle
Labels: enhancement

#3018 Simplify error state checks
  lawnchair/src/app/lawnchair/HeadlessWidgetsManager.kt
  lawnchair/src/app/lawnchair/icons/IconEntry.kt
  lawnchair/src/app/lawnchair/icons/shape/IconShape.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/SliderPreference.kt
Labels: housekeeping

#3014 Hide hidden apps in search
  lawnchair/res/values/config.xml
  lawnchair/res/values/strings.xml
  lawnchair/src/app/lawnchair/preferences2/PreferenceManager2.kt
  lawnchair/src/app/lawnchair/search/LawnchairAppSearchAlgorithm.kt
  lawnchair/src/app/lawnchair/ui/preferences/AppDrawerPreferences.kt
Labels: feature

#3016 Custom icon shape creator/editor
  lawnchair/res/values/strings.xml
  lawnchair/src/app/lawnchair/icons/shape/IconShape.kt
  lawnchair/src/app/lawnchair/preferences2/PreferenceManager2.kt
  lawnchair/src/app/lawnchair/ui/preferences/CustomIconShapePreference.kt
  lawnchair/src/app/lawnchair/ui/preferences/GeneralPreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/IconShapePreference.kt
Labels: feature

#3032 Only show hidden app in search when its full name is typed
  lawnchair/res/values/config.xml
  lawnchair/res/values/strings.xml
  lawnchair/src/app/lawnchair/preferences2/PreferenceManager2.kt
  lawnchair/src/app/lawnchair/search/LawnchairAppSearchAlgorithm.kt
  lawnchair/src/app/lawnchair/ui/preferences/AppDrawerPreferences.kt
Labels: feature

#3049 At a Glance (smartspace) provider selection support
  lawnchair/res/layout/smartspace_container.xml
  lawnchair/res/values/config.xml
  lawnchair/res/values/strings.xml
  lawnchair/src/app/lawnchair/preferences2/PreferenceManager2.kt
  lawnchair/src/app/lawnchair/smartspace/model/SmartspaceMode.kt
  lawnchair/src/app/lawnchair/ui/preferences/ExperimentalFeaturesPreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/SmartspacePreferences.kt
  lawnchair/src/app/lawnchair/util/PackageManagerExtensions.kt
  src/com/android/launcher3/Workspace.java
Labels: feature

#3065 Cleanup exception catching under lawnchair
  lawnchair/src/app/lawnchair/LawnchairLauncher.kt
  lawnchair/src/app/lawnchair/LawnchairLayoutFactory.kt
  lawnchair/src/app/lawnchair/NotificationManager.kt
  lawnchair/src/app/lawnchair/allapps/SearchResultIcon.kt
  lawnchair/src/app/lawnchair/backup/ui/CreateBackupScreen.kt
  lawnchair/src/app/lawnchair/font/FontCache.kt
  lawnchair/src/app/lawnchair/font/FontManager.kt
  lawnchair/src/app/lawnchair/gestures/DirectionalGestureListener.kt
  lawnchair/src/app/lawnchair/icons/CustomIconPack.kt
  lawnchair/src/app/lawnchair/icons/IconPackProvider.kt
  lawnchair/src/app/lawnchair/icons/shape/IconShape.kt
  lawnchair/src/app/lawnchair/preferences/BasePreferenceManager.kt
  lawnchair/src/app/lawnchair/preferences2/PreferenceManager2.kt
  lawnchair/src/app/lawnchair/qsb/providers/QsbSearchProvider.kt
  lawnchair/src/app/lawnchair/smartspace/BcSmartSpaceUtil.kt
  lawnchair/src/app/lawnchair/smartspace/provider/BatteryStatusProvider.kt
  lawnchair/src/app/lawnchair/smartspace/provider/SmartspaceWidgetReader.kt
  lawnchair/src/app/lawnchair/theme/color/ColorOption.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/colorpreference/ColorConverter.kt
  lawnchair/src/app/lawnchair/ui/theme/Color.kt
  lawnchair/src/app/lawnchair/util/Compatibility.kt
  lawnchair/src/app/lawnchair/util/DrawableUtils.kt
  lawnchair/src/app/lawnchair/util/PackageManagerExtensions.kt
Labels: housekeeping
