Repository LawnchairLauncher/lawnchair, pull requests merged in 2023-12, with the labels that each got.

#3773 Tweak CI configs
  .github/workflows/build_release_apk.yml
  .github/workflows/ci.yml
  .github/workflows/release_update.yml
Labels: housekeeping

#3785 Introduce Lawnchair Advance Search
  lawnchair/AndroidManifest.xml
  lawnchair/res/drawable/ic_file.xml
  lawnchair/res/drawable/ic_file_app.xml
  lawnchair/res/drawable/ic_file_excel.xml
  lawnchair/res/drawable/ic_file_image.xml
  lawnchair/res/drawable/ic_file_music.xml
  lawnchair/res/drawable/ic_file_pdf.xml
  lawnchair/res/drawable/ic_file_powerpoint.xml
  lawnchair/res/drawable/ic_file_subtitle.xml
  lawnchair/res/drawable/ic_file_text.xml
  lawnchair/res/drawable/ic_file_unknown.xml
  lawnchair/res/drawable/ic_file_video.xml
  lawnchair/res/drawable/ic_file_word.xml
  lawnchair/res/drawable/ic_file_zip.xml
  lawnchair/res/drawable/ic_folder.xml
  lawnchair/res/drawable/ic_message.xml
  lawnchair/res/drawable/ic_phone.xml
  lawnchair/res/drawable/ic_recent.xml
  lawnchair/res/layout/search_result_icon_right_left.xml
  lawnchair/res/layout/search_result_market.xml
  lawnchair/res/layout/search_result_small_icon_right_left.xml
  lawnchair/res/layout/search_result_text_header.xml
  lawnchair/res/values/config.xml
  lawnchair/res/values/dimens.xml
  lawnchair/res/values/strings.xml
  lawnchair/res/xml/provider_paths.xml
  lawnchair/src/app/lawnchair/allapps/AllAppsSearchInput.kt
  lawnchair/src/app/lawnchair/allapps/SearchItemBackground.kt
  lawnchair/src/app/lawnchair/allapps/SearchResultIcon.kt
  lawnchair/src/app/lawnchair/allapps/SearchResultIconRow.kt
  lawnchair/src/app/lawnchair/allapps/SearchResultRightLeftIcon.kt
  lawnchair/src/app/lawnchair/allapps/SearchResultText.kt
  lawnchair/src/app/lawnchair/allapps/SearchResultView.kt
  lawnchair/src/app/lawnchair/preferences/PreferenceManager.kt
  lawnchair/src/app/lawnchair/preferences2/PreferenceManager2.kt
  lawnchair/src/app/lawnchair/search/GenerateSearchTarget.kt
  lawnchair/src/app/lawnchair/search/LawnchairAppSearchAlgorithm.kt
  lawnchair/src/app/lawnchair/search/LawnchairRecentSuggestionProvider.kt
  lawnchair/src/app/lawnchair/search/LawnchairSearchAdapterProvider.kt
  lawnchair/src/app/lawnchair/search/LawnchairSearchAlgorithm.kt
  lawnchair/src/app/lawnchair/search/SearchAdapterItem.kt
  lawnchair/src/app/lawnchair/search/SearchTargetCompat.kt
  lawnchair/src/app/lawnchair/search/SearchTargetUtils.kt
  lawnchair/src/app/lawnchair/search/data/SearchCallback.kt
  lawnchair/src/app/lawnchair/search/data/SearchDataInfo.kt
  lawnchair/src/app/lawnchair/search/data/SearchRequest.kt
  lawnchair/src/app/lawnchair/search/data/SearchResultActionCallBack.kt
  lawnchair/src/app/lawnchair/search/data/suggestion/StartPageService.kt
  lawnchair/src/app/lawnchair/theme/color/ColorUtils.kt
  lawnchair/src/app/lawnchair/ui/preferences/AppDrawerPreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/ExperimentalFeaturesPreferences.kt
  lawnchair/src/app/lawnchair/util/AppInfoHelper.kt
  lawnchair/src/app/lawnchair/util/DrawableUtils.kt
  lawnchair/src/app/lawnchair/util/FileExtensions.kt
  lawnchair/src/app/lawnchair/util/ImageViewWrapper.kt
  lawnchair/src/app/lawnchair/util/MimeTypeMapCompat.kt
  lawnchair/src/app/lawnchair/util/PackagePermissionManager.kt
Labels: feature

#3861 Add channel flavor for publishing variant for Google Play
  .github/workflows/ci.yml
  .github/workflows/release_update.yml
  baseline-profile/build.gradle
  build.gradle
  ci.py
Labels: enhancement
