Repository LawnchairLauncher/lawnchair, pull requests merged in 2023-11, with the labels that each got.

#3684 Implement Smartspacer as an alternative At a Glance provider
  AndroidManifest.xml
  build.gradle
  lawnchair/AndroidManifest.xml
  lawnchair/res/values/strings.xml
  lawnchair/src/app/lawnchair/LawnchairLauncher.kt
  lawnchair/src/app/lawnchair/smartspace/model/SmartspaceMode.kt
  proguard.pro
  quickstep/AndroidManifest-launcher.xml
  res/layout/smartspace_smartspacer.xml
Labels: enhancement, feature

#3720 Remove extra kotlin-stdlib
  build.gradle
  systemUIAnim/build.gradle
  systemUIAnim/src/com/android/systemui/animation/ActivityLaunchAnimator.kt
Labels: housekeeping

#3728 Patches for crashes in Android Q, R and S
  lawnchair/res/values-v30/colors.xml
  lawnchair/res/values/config.xml
  lawnchair/src/app/lawnchair/LawnchairApp.kt
  lawnchair/src/app/lawnchair/LawnchairLauncher.kt
  lawnchair/src/app/lawnchair/factory/LawnchairWidgetHolder.kt
  lawnchair/src/app/lawnchair/util/LawnchairWindowManagerProxy.kt
  proguard.pro
  quickstep/src/com/android/launcher3/QuickstepTransitionManager.java
  quickstep/src/com/android/launcher3/statehandlers/DepthController.java
  quickstep/src/com/android/launcher3/taskbar/NavbarButtonsViewController.java
  quickstep/src/com/android/launcher3/taskbar/TaskbarActivityContext.java
  quickstep/src/com/android/launcher3/uioverrides/QuickstepLauncher.java
  quickstep/src/com/android/quickstep/RecentsActivity.java
  quickstep/src/com/android/quickstep/RecentsAnimationDeviceState.java
  quickstep/src/com/android/quickstep/TaskAnimationManager.java
  quickstep/src/com/android/quickstep/util/BaseDepthController.java
  src/com/android/launcher3/graphics/LauncherPreviewRenderer.java
  systemUIShared/src/com/android/systemui/shared/system/BlurUtils.java
  systemUnFold/src/com/android/systemui/unfold/config/ResourceUnfoldTransitionConfig.kt
Labels: compatibility-tier:low, priority-tier:high

#3748 Theme work profile
  lawnchair/res/drawable/ic_close.xml
  lawnchair/res/layout/work_apps_edu.xml
  lawnchair/src/app/lawnchair/theme/drawable/DrawableTokens.kt
  src/com/android/launcher3/allapps/ActivityAllAppsContainerView.java
  src/com/android/launcher3/allapps/WorkEduCard.java
  src/com/android/launcher3/allapps/WorkModeSwitch.java
  src/com/android/launcher3/allapps/WorkPausedCard.java
  src/com/android/launcher3/widget/picker/WidgetsFullSheet.java
Labels: enhancement, priority-tier:medium

#3768 Add unsafeLazy to simplify thread unsafe lazy initializations
  lawnchair/src/app/lawnchair/BlankActivity.kt
  lawnchair/src/app/lawnchair/LawnchairApp.kt
  lawnchair/src/app/lawnchair/LawnchairLauncher.kt
  lawnchair/src/app/lawnchair/nexuslauncher/SmartSpaceHostView.kt
  lawnchair/src/app/lawnchair/util/Core.kt
Labels: housekeeping
