Repository LawnchairLauncher/lawnchair, pull requests merged in 2023-01, with the labels that each got.

#3234 Minor tweaks in AppInfoComparator
  src/com/android/launcher3/allapps/AppInfoComparator.java
Labels: housekeeping

#3241 Disable buildFeatures flags by default
  SystemUIShared/build.gradle
  build.gradle
  gradle.properties
Labels: housekeeping

#3242 Mark the root project's namespace as `com.android.launcher3`
  AndroidManifest-common.xml
  AndroidManifest.xml
  build.gradle
  go/AndroidManifest-launcher.xml
  go/AndroidManifest.xml
  quickstep/AndroidManifest-launcher.xml
  quickstep/AndroidManifest.xml
Labels: housekeeping

#3243 Bump AGP to 7.4.0 final
  build.gradle
Labels: dependencies

#3240 Update deps
  build.gradle
  lawnchair/src/app/lawnchair/LawnchairLauncher.kt
Labels: dependencies

#3248 Revert androidx.compose.material3 to 1.1.0-alpha03
  build.gradle
  lawnchair/src/app/lawnchair/LawnchairLauncher.kt
Labels: dependencies

#3246 Apply Gradle Cache Fix plugin for all android modules
  build.gradle
Labels: housekeeping

#3251 Cleanup usages of Bundle and Intent
  lawnchair/src/app/lawnchair/BlankActivity.kt
  lawnchair/src/app/lawnchair/backup/ui/RestoreBackupScreen.kt
  lawnchair/src/app/lawnchair/gestures/handlers/SleepGestureHandler.kt
  lawnchair/src/app/lawnchair/search/LawnchairAppSearchAlgorithm.kt
  lawnchair/src/app/lawnchair/search/SearchTargetUtils.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/NotificationDotsPreference.kt
Labels: housekeeping

#3244 Add an option to override max search result count in settings
  lawnchair/res/values-zh-rCN/strings.xml
  lawnchair/res/values/config.xml
  lawnchair/res/values/strings.xml
  lawnchair/src/app/lawnchair/preferences2/PreferenceManager2.kt
  lawnchair/src/app/lawnchair/preferences2/SharedPreferencesMigration.kt
  lawnchair/src/app/lawnchair/search/LawnchairAppSearchAlgorithm.kt
  lawnchair/src/app/lawnchair/ui/preferences/AppDrawerPreferences.kt
Labels: feature

#3256 Long press `versionName` text to browse build commit on GitHub
  build.gradle
  lawnchair/src/app/lawnchair/preferences/Versioning.kt
  lawnchair/src/app/lawnchair/ui/preferences/about/About.kt
Labels: feature

#3169 Enhancement on applying themed icon
  lawnchair/res/values/strings.xml
  lawnchair/src/app/lawnchair/LawnchairLauncher.kt
  lawnchair/src/app/lawnchair/icons/IconPackProvider.kt
  lawnchair/src/app/lawnchair/icons/LawnchairIconProvider.kt
  lawnchair/src/app/lawnchair/preferences/PreferenceManager.kt
  lawnchair/src/app/lawnchair/ui/preferences/IconPackPreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/PreferenceInteractor.kt
  lawnchair/src/app/lawnchair/ui/preferences/PreferenceViewModel.kt
  src/com/android/launcher3/model/PackageUpdatedTask.java
Labels: enhancement

#3257 Kotlin 1.8 and Compose compiler 1.4.0
  build.gradle
Labels: dependencies

#3255 Distinguish between release and debug via `applicationIdSuffix` & `label`
  build.gradle
  lawnchair/res/values-en-rGB/strings.xml
  lawnchair/res/values/strings.xml
  quickstep/res/values/strings.xml
  res/values/config.xml
Labels: housekeeping

#3263 Tidy up plugin/task configurations
  build.gradle
  systemUIShared/build.gradle
Labels: housekeeping

#3252 Unify all data class fields to values
  lawnchair/src/app/lawnchair/DeviceProfileOverrides.kt
  lawnchair/src/app/lawnchair/bugreport/BugReport.kt
  lawnchair/src/app/lawnchair/bugreport/UploaderService.kt
  lawnchair/src/app/lawnchair/ui/preferences/HomeScreenGridPreferences.kt
  lawnchair/src/app/lawnchair/ui/preferences/components/GridOverridesPreview.kt
Labels: housekeeping

#3266 Distinct OSS lib models by their names
  lawnchair/src/app/lawnchair/ui/preferences/PreferenceInteractor.kt
  lawnchair/src/app/lawnchair/ui/preferences/PreferenceViewModel.kt
  lawnchair/src/app/lawnchair/ui/preferences/about/acknowledgements/Acknowledgements.kt
Labels: housekeeping

#3253 Be easier to trigger fast scroller in app drawer
  src/com/android/launcher3/views/RecyclerViewFastScroller.java
Labels: bug

#3128 Convert `LawnchairDeviceSearchAlgorithm` to Kotlin
  lawnchair/src/app/lawnchair/preferences/PreferenceChangeListener.kt
  lawnchair/src/app/lawnchair/search/LawnchairDeviceSearchAlgorithm.java
  lawnchair/src/app/lawnchair/search/LawnchairDeviceSearchAlgorithm.kt
  lawnchair/src/app/lawnchair/search/LawnchairSearchAdapterProvider.kt
  lawnchair/src/app/lawnchair/search/LawnchairSearchAlgorithm.kt
  lawnchair/src/app/lawnchair/search/SearchActionCompat.java
  lawnchair/src/app/lawnchair/search/SearchActionCompat.kt
  lawnchair/src/app/lawnchair/search/SearchTargetCompat.java
  lawnchair/src/app/lawnchair/search/SearchTargetCompat.kt
Labels: housekeeping

#3274 Rename QsbLayout to LawnQsbLayout
  lawnchair/res/layout/search_container_hotseat.xml
  lawnchair/src/app/lawnchair/gestures/handlers/OpenSearchGestureHandler.kt
  lawnchair/src/app/lawnchair/qsb/AssistantIconView.kt
  lawnchair/src/app/lawnchair/qsb/LawnQsbLayout.kt
  lawnchair/src/app/lawnchair/qsb/providers/QsbSearchProvider.kt
Labels: housekeeping

#3275 Release apk with uploading mapping file
  .github/workflows/build_release_apk.yml
Labels: housekeeping

#3279 Remove unused res under lawn dir
  lawnchair/AndroidManifest.xml
  lawnchair/res/values-en-rGB/strings.xml
  lawnchair/res/values-he/strings.xml
  lawnchair/res/values-id/strings.xml
  lawnchair/res/values-ku/strings.xml
Labels: housekeeping
